<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Properties:</b>
  <%= @item.properties %>
</p>

<p>
  <b>Hash:</b>
  <%= @item.hash %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
